@charset "UTF-8";

/* Tablet e Telas Pequenas*/
@media screen and (min-width: 481px) {
    section.principal{
        width: 55vw;
        border-radius: 10px 0px;
    }
}

/* H1 TO-DO não invadir o principal quando estiver em telas pequenas*/
@media screen and (max-height:400px) {
    header p {
        font-size: 2em;
    }
    div.caixa{
        width: auto;
    }
    header p{
        text-indent: .5em; 
    }
}

/* Telas Grandes*/
@media screen and (min-width: 1200px) {
    section.principal{
        width: 600px;
        border-radius: 10px 0px;
    }

    header p{
        text-indent: .5em; 
    }

    #txtadd{
        width: 55%;
    }

    div.list p{
        width: 55%;
    }

    div.caixa{
        width: auto;
    }
}