@charset "UTF-8";

/* Tablet e Telas Pequenas*/
@media screen and (min-width: 481px) {
    section.principal{
        width: 55vw;
        border-radius: 10px 0px;
    }
}

/* H1 TO-DO não invadir o principal quando estiver em telas pequenas*/
@media screen and (max-height:400px) {
    header p {
        font-size: 2em;
        text-indent: .5em; 
    }
    div.caixa{width: auto;}
}

/* Telas Grandes*/
@media screen and (min-width: 1200px) {
    :root{
        --width: 55%;
    }

    section.principal{
        width: 600px;
        border-radius: 10px 0px;
    }

    header p{
        text-indent: .5em; 
    }

    .caixa{
        width: auto;
    }
}