@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Raleway:200');
/*font-family: 'Bebas Neue', cursive;*/
@font-face {
    font-family: FuturaPTHeavy;
    src: url(../fonts/FuturaPTHeavy.otf) format(opentype);
}

:root{
    --priCor: #15183B;
    --tomP1:  #161f31;
    --tomP2:  #191825; /*#161722*/
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: FuturaPTHeavy;
}

body{background-color: var(--tomP2);}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;

    background: var(--tomP1) url(../images/spaceD.jpg) no-repeat center center;
    background-size: cover;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.637);
}

header p{
    color: #FFFFFF;
    font-size: 3em;
    text-shadow: 2px 4px 4px black;

    /*O letter spacing não considera o espaço a ESQUERDA do primeiro caracter, logo, o text-indent ANULA esse fato*/
    text-indent: .9em; 
    letter-spacing: .5em;
    margin-bottom: 15px;

    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 4px;
    border: 2px solid #FFFFFF
}

div.caixa{width: 300px;} /* Limita a caixa do H1 para ser do msm tamanho do principal*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.principal{
    background-color: var(--tomP1);
    width: 300px;
    position: relative;
    top: -20px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.637);
    border-radius: 0px 0px 15px 15px;

    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

section.principal button{ 
    padding: 8px;
    border: 1px solid #FFFFFF;
    border-radius: 25%;
    background-color: inherit;
}

section.principal p, button{color: #FFFFFF;}

div.add, .list{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

#txtadd{
    padding: 5px;
    width: 70%;
    border-radius: 5px;
    border-style: none;
    text-align: center;
}

div.list > p {
    width: 70%; 
    text-align: justify;
}

section.principal button{height: 42px;} /*previne que o btn não estique pelo resto do conteúdo no flex*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font: italic bold 1.4em FuturaPTHeavy;
    color: #FFFFFF;
}

footer a, abbr{
    text-decoration: none;
    color: #FFFFFF;
}

footer a:hover{text-decoration: underline;}